html, body {
    height: 100%;
  }

  body{
    
    background-image: url(https://www.publicdomainpictures.net/pictures/170000/nahled/yellow-gradient-background-1461271359KTH.jpg)!important;
    
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}